
.bg_img{
    background-image: url('../image/homebg.jpg');
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	background-color: transparent !important;
  }

.white-text {
    color: white;
	font-size: large;
	font-weight: bold;
}

.underline{
    text-decoration: none;
    color: rgb(0, 183, 255);
}

#cityDropdown {
	width: 5vw; 
  }

#productSearch {
	width: 20vw; 
	margin: 0 0;
  }

